<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <mapping class = "com.exposit.sjc.app.repository.entity.UserEntity"/>
        <mapping class = "com.exposit.sjc.app.repository.entity.BookEntity"/>
        <mapping class = "com.exposit.sjc.app.repository.entity.ContractEntity"/>
        <mapping class = "com.exposit.sjc.app.repository.entity.AuthorEntity"/>
        <mapping class = "com.exposit.sjc.app.repository.entity.AutorizationDataEntity"/>
        <mapping class = "com.exposit.sjc.app.repository.entity.validation.UserValidator"/>


    </session-factory>
</hibernate-configuration>